<div class="container">
  <h1>Welcome to Noter</h1>
  <h3>Create a new Note below!</h3>
  <form action="/notes" method="post">
    <p>Title:<br> <input type="text" cols="25" name="title_input"></p>
    <p>Content: <br><textarea cols="25" rows="5" name="content_input"></textarea><br></p>
    <input type="submit" value="Add Note" >
  </form>
    
</div>

<div class="container">
  <h1>Notes:</h1>
  

<%@notes.each do |note|  %>
   <div class="note"> 
    <h4><strong>TITLE:</strong> <%= note.title %> </h4> 
    <h4>CONTENT: <%= note.content %></h4>
    <form action="/notes/<%= note.id %>/edit" method="get">
      <input type="submit" value="Edit" name=<%= note.id %>>
    </form>
    <form action="/notes/<%= note.id %>/delete" method="get" >
      <input type="submit" value="Delete Note" name=<%= note.id %>>
    </form>
    <br>
  </div>
<%end%>

    
</div>
